body {
    margin: 0;
    padding: 0;
    background-color: aqua;
    cursor: none; /* Hide default cursor */
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: black;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    border-radius: 10px;
    margin-bottom: 20px;
}

.circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    pointer-events: none; 
}
